<div id="mymodal">
    <section>
        <ol id="selectable">
            <li class="ui-state-default">1</li>
            <li class="ui-state-default">2</li>
            <li class="ui-state-default">3</li>
            <li class="ui-state-default">4</li>
            <li class="ui-state-default">5</li>
            <li class="ui-state-default">6</li>
            <li class="ui-state-default">7</li>
            <li class="ui-state-default">8</li>
            <li class="ui-state-default">9</li>
            <li class="ui-state-default">10</li>
            <li class="ui-state-default">11</li>
            <li class="ui-state-default">12</li>
        </ol>
    </section>
    <section>
        <form action=""></form>
    </section>
    <footer>
        <button id="mymodal-insert" class="redactor_modal_btn redactor_modal_action_btn">Insert</button>
        <button class="redactor_modal_btn redactor_btn_modal_close">Close</button>
    </footer>
</div>